.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
  &__logo {
    & img {
      display: block;
    }
    @include MQ(xs) {
      margin: 0 auto;
    }
  }
  &__shop {
    background-color: #ad204a;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    box-shadow: 1px 1px 1px rgba(142,27,52,.5);
    font-size: 0.75rem;
    padding: 13px 0;
    max-width: 215px;
    width: 100%;
    @include MQ(xs) {
      visibility: hidden;
      // font-size: 1rem;
      // max-width: 90%;
      // margin: 0 auto;
      // margin-top: 10px;

      // flex-grow: 1;
    }
    &:hover {
      background-color: #ff5534;
      background-image: -webkit-linear-gradient(#ff5534 0,#e4003a 100%);
      background-image: linear-gradient(#ff5534 0,#e4003a 100%);
    }
  }
}