include helpers/_global_mixins
include template/_project_mixins
block vars


doctype
html(lang="ru")
  head
    include template/_head
  body
    block content

  
  script(src=`${SRC + 'js/main.js'}`)

