extends ./_layout
block vars
  -
    var title = 'Обратно в школу';

    var URL = "./img/";

    var ROOT = 'https://www.ulmart.ru';

    var SRC = './';



//- PRODUCTION
block content

  //- header.header__wrap
  //-   .container
  //-     +header-logo()
  .wrapper
    section.subheader__wrap
      .container
        +header-logo()
        .subheader__text--wrap
          h1.subheader__text--title  ПЕРВОКЛАССНО!
          p.subheader__text--desc  Для робких первоклашек и студентов с серьёзными диссертациями, для заспанных абитуриентов и взрослых, наконец-то решивших выучить испанский, — для каждого, кто охотится за новыми знаниями, в Юлмарте найдётся что-то очень нужное. Приготовьтесь к новому учебному сезону и большим открытиям вместе с нами!
          .subheader__btn--wrap
            +a({"href":`${ROOT}`, "class":"subheader__btn subheader__btn--basic"}) Мы рекомендуем
            +a({"href":`${ROOT}`, "class":"subheader__btn subheader__btn--outline"}) Все категории
    section.carousel__wrap
      .container
        h3.carousel__title Рекомендуем
        .owl-carousel.owl-theme
          each item, number in data.slice(0,13)
            +carousel(item)
    section.category__wrap
      .container
        .category__card--wrap
            .category__card--cover
              .category__about
                h3.category__title Категории
                p.category__desc Представляем вашему вниманию лучшую подборку товарных категорий. В любой из них вы сможете найти то, что понадобится вам и вашим детям для хорошего начала учебного года.
              .category__card.category__card--1
                .category__card--border
                  h3.category__card--title Канцелярские принадлежности
                  +a({"href":`https://www.ulmart.ru/catalog/kanctovary_dla_skoly_1`, "class":"category__card--btn"}) Выбрать товары
            .category__card.category__card--2
              .category__card--border
                h3.category__card--title Рюкзаки, ранцы и&nbsp;пеналы
                +a({"href":`https://www.ulmart.ru/catalog/rukzaki_penaly_skol_nye_rancy_1`, "class":"category__card--btn"}) Выбрать товары
            .category__card--cover
              .category__card.category__card--3
                .category__card--border
                  h3.category__card--title Школьная мебель
                  +a({"href":`https://www.ulmart.ru/catalog/detskie_stoly_stul_a_skafciki_1`, "class":"category__card--btn"}) Выбрать товары
              .category__card.category__card--4
                .category__card--border
                  h3.category__card--title Спортивная одежда и обувь
                  +a({"href":`https://www.ulmart.ru/catalog/sportivnaa_odezda_i_obuv_1`, "class":"category__card--btn"}) Выбрать форму
                  +a({"href":`https://www.ulmart.ru/catalog/sportivnaa_odezda_i_obuv_1`, "class":"category__card--btn category__card--btn--mt"}) Выбрать обувь
            .category__card.category__card--5
              .category__card--border
                h3.category__card--title Школьная форма и обувь
                +a({"href":`https://www.ulmart.ru/catalog/skol_naa_odezda_3`, "class":"category__card--btn"}) Выбрать форму
                +a({"href":`https://www.ulmart.ru/catalog/skol_naa_obuv_3`, "class":"category__card--btn category__card--btn--mt"}) Выбрать обувь
            .category__card.category__card--6
              .category__card--border
                h3.category__card--title Компьютеры и&nbsp;ноутбуки
                +a({"href":`https://www.ulmart.ru/catalog/computers_notebooks`, "class":"category__card--btn"}) Выбрать товары
            .category__card.category__card--7
              .category__card--border
                h3.category__card--title Смартфоны и гаджеты
                +a({"href":`https://www.ulmart.ru//dynamic/catalog/Phones_gadgets_bts17/mobiles_gps_mp3`, "class":"category__card--btn"}) Выбрать товары
            .category__card.category__card--8
              .category__card--border
                h3.category__card--title Оргтехника
                +a({"href":`http://www.ulmart.ru/office_technics_bts17/office_tech`, "class":"category__card--btn"}) Выбрать товары
            .category__card.category__card--9
              .category__card--border
                h3.category__card--title Умные подарки
                +a({"href":`https://www.ulmart.ru/Smart_gifts_lendingBTS/detskie_tovary_1?sort=5&viewType=0&rec=false`, "class":"category__card--btn"}) Выбрать товары
            .category__card.category__card--10
              .category__card--border
                h3.category__card--title Проекторы и экраны
                +a({"href":`https://www.ulmart.ru/catalog/proektory_i_ekrany_3`, "class":"category__card--btn"}) Выбрать товары
        .category__scroll--wrap
          +a({"href":`${ROOT}`, "class":"category__btn"}) Перейти к покупкам на ulmart.ru
          button.category__scroll--top
  +footer()
      //- | Розничные цены , в&nbsp;т.&nbsp;ч. размер скидок, указаны в&nbsp;рублях с&nbsp;учётом НДС и&nbsp;действительны на&nbsp;__.__.2017.