/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1600px) {

}

@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
  .owl-theme .owl-dots .owl-dot span {
    background-color: #ebebeb;
  }
  .owl-theme .owl-dots .owl-dot.active span {
    background-color: #c2c2c2;
  }
  .wrapper {
    background: url(../img/bg-main-768.png) top center no-repeat;
    background-size: contain;
  }
  .category__desc {
    color: #333333;
  }
  .category__title {
    color: #333333;
  }
  .category__card--cover {
    flex-direction: row;
    width: 100%;
  }
  .category__card--wrap {
    max-width: 570px;
    margin: 0 auto;
  }
  .category__card--7 {
    flex-basis: 100%;
  }
  .category__card--9 {
    flex-basis: 100%;
    order: 3;
  }

  .carousel__wrap {
    padding:  12rem .5rem 0;
  }

  .header {
    padding: 20px 5px;
  }
  .subheader {
    &__text {
      &--wrap {
        padding: 0 .5rem;
      }
    }
  }
  .footer {
    &__wrap {
      padding: 1rem .5rem;
    }
  }
}

@media only screen and (max-width : 600px){
  .header__shop {
    visibility: hidden;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .wrapper {
    background: url(../img/bg-main-mobile.jpg) top center no-repeat;
    background-size: contain;
  }
  .subheader {
    &__text {
      &--wrap {
        background: none;
      }
      &--title {
        font-size: 1.9rem;
        color: #fff;
        padding-top: 14rem;
      }
      &--desc {
        color: #fff;
        font-size: .8rem;
        margin-bottom: 2.2rem;
        padding-top: .5rem;
      }
    }
    &__btn--wrap {
      display: none;
    }
  }
  .category {
    &__wrap {
      margin-top: .3rem;
    }
    &__card {
      margin: 0 auto 1.5rem;
      max-width: 270px;
    }
    &__title {
      width: 261px;
      margin:  0 auto;
      padding-bottom: .7rem;
      color: #333333;
    }
    &__desc {
      margin: 0 auto;
      color: #333333;
    }
    &__scroll--top {
      position: initial;
      display: block;
      margin: 1rem auto 0;
    }
  }
  .carousel {
    &__wrap {
      padding-top: 1rem;
    }
    &__title {
      color: #fff;
      padding: 0 .5rem;
    }
  }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  .subheader {
    &__text {
      &--title {
        padding-top: 10rem;
      }
    }
  }

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

@media only screen and (min-width : 48em) {
  .container {
    width: 100%;
  }
}
